<section data-ng-controller="UserstatsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Record or Edit your test week results</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="snatchMax">Snatch - One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.snatchMax" id="snatchMax" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cleanJerkMax">Clean and Jerk - One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.cleanJerkMax" id="cleanJerkMax" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="backSquatMax">Back Squat - One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.backSquatMax" id="backSquatMax" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="benchMax">Bench Press - One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.benchMax" id="benchMax" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="deadMax">Deadlift - One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.deadMax" id="deadMax" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="burpeeMax">Burpee Test Score</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.burpeeMax" id="burpeeMax" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sixLengthTime">6 Lengths Time (in seconds)</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.sixLengthTime" id="sixLengthTime" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="kmRow">Kilometer Row Time (in seconds)</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.kmRow" id="kmRow" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="chinMax">Max Chinups</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.chinMax" id="chinMax" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="plankTime">Weighted Plank Time (in seconds)</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.plankTime" id="plankTime" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lpMileTime">LP Mile Time (in seconds)</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.lpMileTime" id="lpMileTime" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="boxJumpMax">Max Box Jump Height</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.boxJumpMax" id="boxJumpMax" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="longJumpMax">Max Long Jump Length</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.longJumpMax" id="longJumpMax" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="beepTestScore">Beep Test Score</label>
                    <div class="controls">
                        <input type="number" data-ng-model="userstat.beepTestScore" id="beepTestScore" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>