<section data-ng-controller="UserstatsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1> <span data-ng-bind="userstat.user.displayName"></span>'s Results - {{userstat.testWeek}}</h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == userstat.user._id))">
		<a class="btn btn-primary" href="/#!/userstats/{{userstat._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="userstat.created | date:'mediumDate'"></span>
		</em>
	</small>
	<h3>Lifts</h3>
	Snatch: {{userstat.snatchMax}} lbs<br/>
	Clean and Jerk: {{userstat.cleanJerkMax}} lbs<br/>
	Bench Press: {{userstat.backSquatMax}} lbs<br/>
	Deadlift: {{userstat.deadMax}} lbs<br/>
	Back Squat: {{userstat.backSquatMax}} lbs<br/>
	<h3>Endurance</h3>
	Six Lengths Time: {{userstat.sixLengthTime}} seconds<br/>
	Burpee Test Score: {{userstat.burpeeMax}} <br/>
	Beep Test Score: {{userstat.beepTestScore}} <br/>
	LP Mile Time: {{userstat.lpMileTime}} seconds <br/>
	1 km Row Time: {{userstat.kmRow}} seconds <br/>
	<h3>Body</h3>
	Box Jump Max: {{userstat.boxJumpMax}} inches<br/>
	Long Jump Max: {{userstat.longJumpMax}} inches<br/>
	Weighted Plank Time: {{userstat.plankTime}} <br/>
	Max Chins: {{userstat.chinMax}} <br/>
</section>
