<section data-ng-controller="MeasuresController">
    <div class="page-header">
        <h1>New Measure</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="bodyWeight">Squat One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="bodyWeightval" id="bodyWeight" class="form-control"> lbs
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="snatchORM">Snatch One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="snatchORMval" id="snatchORM" class="form-control"> Kgs
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="deadORM">Deadlift One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="deadORMval" id="deadORM" class="form-control"> Kgs
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="benchORM">Bench One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="benchORMval" id="benchORM" class="form-control"> Kgs
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cleanJerkORM">Clean and Jerk One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="cleanJerkORMval" id="cleanJerkORM" class="form-control"> Kgs
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="backSquatORM">Squat One Rep Max</label>
                    <div class="controls">
                        <input type="number" data-ng-model="backSquatORMval" id="backSquatORM" class="form-control"> Kgs
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>