<section data-ng-controller="WorkoutplansController" data-ng-init="find()">
    <div class="page-header">
        <h1>Workouts</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="workoutplan in workoutplans" data-ng-href="#!/workoutplans/{{workoutplan._id}}" class="list-group-item">

			<h4 class="list-group-item-heading" data-ng-bind="workoutplan.name"></h4>
            <p class="lead" data-ng-bind="workoutplan.description"></p>
            <p><span ng-repeat="task in workoutplan.tasks">{{task.name}}<br/></span></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!workoutplans.$resolved || workoutplans.length">
    	No workout plans yet, why don't you <a href="/#!/workoutplans/create">create one</a>?
    </div>
</section>