<section data-ng-controller="WorkoutplansController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="workoutplan.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == workoutplan.user._id))">
		<a class="btn btn-primary" href="/#!/workoutplans/{{workoutplan._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="workoutplan.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="workoutplan.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="workoutplan.description"></p>


	<div class="list-group">
        <div data-ng-repeat="task in workoutplan.tasks" class="list-group-item">
						<h4 class="list-group-item-heading" data-ng-bind="task.name"></h4>
            <p>
              <span data-ng-bind="task.description"></span>
            </p>
            <p>
              <span ng-repeat="n in task.sets track by $index">
                {{task.sets[$index]}} of {{task.reps[$index]}} <span ng-show="task.weight">at {{task.weight[$index]}}</span> <span ng-show="task.baseLift"> of your {{task.baseLift}} one rep max</span><br/>
              </span>
            </p>
        </div>
    </div>

<!-- This is the add task form under the workout view.
	Things to Add: Show only to users with the Admin role. Separate tasks as their own CRUD Objects. 
	Ie. be able to delete tasks by pressing a button next to the task, then edit.
-->
  <!--h3>Add Workout Task</h3-->
  <!--section data-ng-controller="WotasksController"-->
    <!--div class="add-form">
    	<form class="form-horizontal" data-ng-submit="addTask()" novalidate>
    	<div class="form-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input type="text" data-ng-model="addTaskName" id="name" class="form-control" placeholder="Name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="addTaskDescription">Description</label>
        <div class="controls">
          <input type="text" data-ng-model="addTaskDescription" id="description" class="form-control" placeholder="Description">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="reps">Reps</label>
        <div class="controls">
          <input ng-list data-ng-model="addTaskReps" id="reps" class="form-control" placeholder="Reps">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="sets">Sets</label>
        <div class="controls">
          <input ng-list data-ng-model="addTaskSets" id="sets" class="form-control" placeholder="Sets">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="weight">Weight</label>
        <div class="controls">
          <input ng-list data-ng-model="addTaskWeight" id="weight" class="form-control" placeholder="Weight">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="baseLift">Base Lift</label>
        <div class="controls">
          <select data-ng-model="addTaskBaseLift" id="baseLift" class="form-control" ng-options="lift.name as lift.name for lift in bases">
          	<option value="">-- No Base Lift --</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Add Task" class="btn btn-default">
      </div>
      
    </form>
    </div-->
  <!--/section-->
</section>
