<section data-ng-controller="WorkoutplansController" data-ng-init="findOne()">
	<div class="page-header">
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.roles.indexOf('admin') > -1))">  <!-- Alternative conditionals: authentication.user._id == workoutplan.user._id)) && (authentication.user.roles.indexOf('admin') > -1))-->
    <a class="btn btn-primary" href="/#!/workoutplans/{{workoutplan._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <h1 data-ng-bind="workoutplan.name"></h1>
  </div>

	<p class="lead" data-ng-bind="workoutplan.description"></p>

	<div class="list-group">
        <div data-ng-repeat="task in workoutplan.tasks" class="list-group-item">
						<h4 class="list-group-item-heading" data-ng-bind="task.name"></h4>
            <p>
              <span data-ng-bind="task.description"></span>
            </p>
            <p>
              <span ng-repeat="n in task.sets track by $index">
                {{task.sets[$index]}} of {{task.reps[$index]}} <span ng-show="task.weight">at {{task.weight[$index]}}</span> <span ng-show="task.baseLift"> of your {{task.baseLift}} one rep max</span><br/>
              </span>
            </p>
        </div>
    </div>
</section>
